<!DOCTYPE html>
<html lang="ch-ZN">

<head>
    <title>主页-组管理</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/src/group/group.css">
</head>

<body>
    <div class="container">
        <!--头部-->
        <header>
            <div class="hidden-xs middle-logo"></div>
            <nav>
                <ul class="nav nav-decoration">
                    <% modules.forEach(function(module){ %>
                        <li class="<%=module.active=='active'?'active':''%>">
                            <a href="<%=module.href%>">
                                <%=module.name%>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <div class="nav-logo hidden-xs">
                    <span>德辰云文件</span>
                </div>
            </nav>
        </header>
        <!--/头部结束-->


        <!--主要部分-->
        <main>
            <div class="text-center user-oprt-container">
                <a href="#" class="user-oprt" id="addUser"><i class="glyphicon glyphicon-plus"></i></a>
                <a href="#" class="user-oprt" id="deleteUser"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="#" class="user-oprt" id="saveUser"> <i class="glyphicon glyphicon-ok"></i> </a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="tblUsers">
                    <thead>
                        <tr class="text-center">
                            <td><input type="checkbox" id="checkAllUsers"></td>
                            <td>用户名</td>
                            <td>密码</td>
                            <td>权限等级</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--这里存放主要的数据-->
                    </tbody>
                </table>
            </div>
        </main>
        <!--/主要部分结束-->

    </div>

    <script src="/lib/requirejs/require.js" data-main="/src/group/group.js"></script>
</body>

</html>